.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2rem;
    max-width: 768px;
    margin: auto;
}

.title {
    color: cornflowerblue;
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin: 1rem 0 0;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.buttons button {
    background-color: cornflowerblue;
    color: #FFFFFF;
    width: 80%;
    max-width: 400px;
    font-size: 20px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.selector:after {
    content:'';
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid cornflowerblue;
    border-right: 25px solid transparent;
}
